/*
* green-color: #3ba88e;
* pink-color: #f04e99;
*/
body {
  margin: 0;
  padding: 0;
  font: 1em/1.5em "Open Sans", sans-serif;
  background-color: #3ba88e;
  color: #fff;
}

a {
  color: #00aeef;
  text-decoration: none;
  font-weight: bold;
}

header {
  text-align: center;
  padding: 2rem;
}

header p:nth-child(1) {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

header p:nth-child(2) {
  margin: .5rem 0 0;
  letter-spacing: .2em;
  text-transform: uppercase;
  letter-spacing: .2em;
}

main {
  background-color: white;
  color: black;
  padding: 2rem 0 3rem;
}

h1 {
  font-family: 'Kalam', cursive;
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-family: 'Kalam', cursive;
  font-size: 3rem;
  padding: 10px;
  text-align: center;
}

main img {
  display: block;
  width: 12rem;
  max-width: 50%;
  margin: 0 auto 1rem;
  height: auto;
  border-radius: 50%;
}

main p {
  width: 30rem;
  max-width: 80%;
  margin: 0 auto 1rem;
}

.projects {
  list-style: none;
  margin: 1rem auto 0;
  padding: 0;
  width: 15rem;
  max-width: 80%;
}

.projects li {
  margin: 0;
  padding: 0;
}

.projects li a {
  display: block;
  position: relative;
  padding-left: 3rem;
  line-height: 2rem;
  vertical-align: middle;
  color: #999;
  transition: color 0.2s ease;
}

.projects li a:hover {
  color: #3ba88e;
}

.projects li a::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  font: normal 2rem/1em "FontAwesome";
}

.projects li a[rel="github"]::before { content: '\f09b'; }
.projects li a[rel="home"]::before { content: '\f015'; }
.projects li a[rel="linkedin"]::before { content: '\f086'; }

.contact {
  list-style: none;
  margin: 1rem auto 0;
  padding: 0;
  width: 15rem;
  max-width: 80%;
}

.contact li {
  margin: 0;
  padding: 0;
}

.contact li a, .contact li p {
  display: block;
  position: relative;
  padding-left: 3rem;
  line-height: 2rem;
  vertical-align: middle;
  color: #999;
  transition: color 0.2s ease;
}

.contact li a:hover {
  color: #3ba88e;
}

.contact li a::before, .contact li p::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  font: normal 2rem/1em "FontAwesome";
}

.contact li a[rel="linkedin"]::before { content: '\f08c'; }
.contact li p[rel="email"]::before { content: '\f199'; }


footer {
  margin: 0;
  padding: 2rem;
  text-align: center;
  color: black;
}


footer img {
  height: 3rem;
  width: auto;
  margin: 0 1rem;
}
